
.font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

button {
    background-color: limegreen;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */
}

.center {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

tr:hover {
    background-color: white;
    color: black;
}